<div class="main-content" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-md-5">
      <h5>
        <p><i class="fa fa-dashboard"></i>Profile</p>
      </h5>
      <ol class="breadcrumb">
        <li class="active">Profile User</li>
      </ol>
    </div>
    <div class="container rounded bg-white mt-5">
      <div class="row">
        <div class="col-md-4 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" th:src="@{${pathPhoto}}" width="130" height="130"><span
              class="font-weight-bold"></span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <a class="btn btn-sm btn-bold btn-danger pull-right ajax" href="/"><i class="ti-arrow-left"></i>
                kembali</a>
              <h6 class="text-right">Edit Profile</h6>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="first name" disabled
                       th:value="${userData.username}"></div>
            </div>
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
            <form method="post" th:action="@{/user/upload}" enctype="multipart/form-data">

              <div class="row mt-3">
                <div class="col-md-6">
                  <input type="text" class="form-control" disabled placeholder="Email" th:value="${userData.email}">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <input type="text" class="form-control" disabled placeholder="address" th:value="${userData.telp}">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <input type="file" name="file" class="form-control-file">
                </div>
              </div>

              <div class="mt-5 text-right">
                <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                <button class="btn btn-danger profile-button" type="button" onclick="loadContent()">Delete Photo</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function loadContent() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/user/remove",
            success: function(response){
                window.location.href = "http://localhost:8080/user/profile/";
            }
        })
    }
</script>
