<div th:fragment="user-add">

	<div class="modal modal-center fade" id="modal-center" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form data-toggle="validator" role="form" th:action="@{/templates/profile/save}"
					method="post">
					<div class="modal-header">
						<h5 class="modal-title">Tambah User</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<div class="box-body">

									<div class="form-group">
										<label for="Firstname">Username</label> <input type="text"
											required="true" class="form-control" name="username"
											id="firstname" />
									</div>
									<div class="form-group">
										<label for="Lastname">Password</label> <input type="password"
											required="true" class="form-control" name="password"
											id="password" />
									</div>
									<div class="form-group">
										<label for="email">E-mail</label> <input type="email"
											required="true" class="form-control" name="email" id="email" />
									</div>
									<div class="form-group">
										<label for="email">Telepon</label> <input type="text"
											required="true" class="form-control" name="telp" id="telp" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-bold btn-pure btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-bold btn-pure btn-primary">Save
							changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div th:fragment="user-edit">

	<div class="modal modal-center fade" id="user-edit" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form data-toggle="validator" role="form" th:action="@{/templates/profile/save}"
					method="post">
					<div class="modal-header">
						<h5 class="modal-title">Edit User</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<div class="box-body">

									<div class="form-group">
										<label for="Firstname">Username</label> <input type="text"
											required="true" class="form-control" name="username"
											id="firstname" />
									</div>
									<div class="form-group">
										<label for="Lastname">Password</label> <input type="password"
											required="true" class="form-control" name="password"
											id="password" />
									</div>
									<div class="form-group">
										<label for="email">E-mail</label> <input type="email"
											required="true" class="form-control" name="email" id="email" />
									</div>
									<div class="form-group">
										<label for="email">Telepon</label> <input type="text"
											required="true" class="form-control" name="telp" id="telp" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-bold btn-pure btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-bold btn-pure btn-primary">Save
							changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div th:fragment="user-view">

	<div class="modal modal-center fade" id="user-view" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form data-toggle="validator" role="form" th:action="@{/templates/profile/save}"
					method="post">
					<div class="modal-header">
						<h5 class="modal-title">User</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<div class="box-body">

									<div class="form-group">
										<label for="Firstname">Username</label> <input type="text"
											required="true" class="form-control" disabled="disabled" name="username"
											id="firstname" />
									</div>
									<div class="form-group">
										<label for="Lastname">Password</label> <input type="password"
											required="true" class="form-control" disabled="disabled" name="password"
											id="password" />
									</div>
									<div class="form-group">
										<label for="email">E-mail</label> <input type="email"
											required="true" class="form-control" disabled="disabled" name="email" id="email" />
									</div>
									<div class="form-group">
										<label for="email">Telepon</label> <input type="text"
											required="true" class="form-control" disabled="disabled" name="telp" id="telp" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-bold btn-pure btn-secondary"
							data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
