<div class="main-content">
	<div class="row">
		<div class="col-md-5">
			<h5>
				<p><i class="fa fa-dashboard"></i>DASHBOARD KARYAWAN</p>
			</h5>
			<ol class="breadcrumb">
				<li class="active">Dashboard Karyawan</li>
			</ol>
		</div>
		<div class="col-md-7">
		</div>
		<br /> <br />
		<div class="col-md-3">
			<div class="card card-body card-small-1">
				<span class="fw-400">Employee</span>
				<div class="flexbox">
					<div class="text-left">
						<span class="card-deep">40</span>
						<br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-body card-small-2">
				<div class="flexbox">
					<div class="text">
						<span class="fw-400">Presdir</span><br>
						<span class="card-deep">1</span><br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-body card-small-3">
				<div class="flexbox">
					<div class="text">
						<span class="fw-400">IT</span><br>
						<span class="card-deep">1</span><br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-body card-small-4">
				<div class="flexbox">
					<div class="text">
						<span class="fw-400">Sales</span><br>
						<span class="card-deep">18</span><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
