<div class="col-md-5" style="margin: 25px 0px;">
	<h5>
		<i class="fa fa-flag"></i> User
	</h5>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 1px;">
						<li class="breadcrumb-item"><a class="ajax" href="/user/">List
								data</a></li>
						<li class="breadcrumb-item active">Tambah Pengguna</li>
					</ol>
				</div>
				<a class="btn btn-sm btn-bold btn-danger pull-right ajax"
					href="/user/"><i class="ti-arrow-left"></i> kembali</a>
			</div>

			<div class="card-body">
				<div th:if="${message}" th:inline="text"
					th:class="${'alert alert-dismissible fade show ' + alertClass}">
					[[${message}]]
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal needs-validation ajax"
							  data-provide="validation" id="userForm" name="userForm"
							  role="form" th:action="@{/templates/profile/save}" method="post">
							<div class="form-group col-6">
								<label for="user_name">UserName</label> <input type="text"
									name="username" id="username" value="" class="form-control"
									data-required-error="" required>
								<div id="status" class="invalid-feedback"></div>
								<p id="projectIDSelectError"></p>
							</div>

							<div class="form-group col-6">
								<label for="new_password">New password</label> <input
									type="password" name="new_password" value=""
									class="form-control" data-required-error="" required>
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group col-6">
								<label for="confirm_password">Konfirm password</label> <input
									type="password" name="confirm_password" value=""
									class="form-control" data-required-error="" required>
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group col-6">
								<label for="group">Group</label> <select name="group" id="group"
									class="form-control" required>
									<option value="">Semua Group</option>
									<option th:each="row : ${group}" th:value="${row.idGroup}"
										th:text="${row.nameGroup}"></option>
								</select>
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group col-6">
								<label for="email">Email</label> <input type="email"
									name="email" value="" class="form-control"
									data-required-error="" required>
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group col-6">
								<label for="telp">Telepon</label> <input type="text" name="telp"
									value="" class="form-control" data-required-error="">
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group col-6">
								<input type="hidden" name="id" value="">
								<button type="submit" class="btn btn-success btn-sm"
									name="simpan">Simpan</button>
								<a href="/user/" class="btn btn-default ajax btn-sm">Kembali</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
if (typeof($) == 'function'){
    $(document).ready(()=>{
    	console.log("1");
    	$("#username").change(function() {

    		var usr = $("#username").val();

    		if(usr.length >= 4)
    		{
    		$("#status").html('<img src="loader.gif" align="absmiddle">&nbsp;Checking availability...');

    		    $.ajax({
    		    type: "GET",
    		    url: "/user/checkUserName",
    		    data: { userName: $('#username').val()},
    		    success: function(msg){
				console.log(msg);
    			if(msg == true)
    			{
    				$("#projectIDSelectError").html("User telah terdaftar").addClass("error").css('color', 'red');
    			}
    			else
    			{
    				$("#projectIDSelectError").html("User Tersedia").addClass("error").css('color', 'green');
    			}

    		 }

    		  });

    		}
    		else
    			{
    			$("#projectIDSelectError").html("Minimal 4 char").addClass("error").css('color', 'red');
    			}

    		});
    });
}else{
    document.addEventListener('DOMContentLoaded', ()=>{
    	console.log("2");
    });
}


</script>
