<div class="col-md-5" style="margin: 25px 0px;">
	<h5>
		<i class="fa fa-flag"></i> User
	</h5>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 1px;">
						<li class="breadcrumb-item"><a class="ajax" href="/user/">List data</a></li>
						<li class="breadcrumb-item active">Edit Pengguna</li>
					</ol>
				</div>
				<a class="btn btn-sm btn-bold btn-danger pull-right ajax" href="/user/"><i class="ti-arrow-left"></i> kembali</a>
			</div>

			<div class="card-body">
				<div th:if="${message}" th:inline="text" th:class="${'alert alert-dismissible fade show ' + alertClass}">
					[[${message}]]
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="row">
                    <div class="col-sm-12">
                    	<form class="form-horizontal needs-validation ajax" data-provide="validation" role="form" th:action="@{/templates/profile/save}" method="post">
                    		<div class="form-group col-6">
                                <label for="user_name">UserName</label>
                                <input type="text" name="username" th:value="${username}" class="form-control" data-required-error="" required>
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-group col-6">
                                <label for="new_password">New password</label>
                                <input type="password" name="new_password" value="" class="form-control" data-required-error="" required>
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-group col-6">
                                <label for="confirm_password">Konfirm password</label>
                                <input type="password" name="confirm_password" value="" class="form-control" data-required-error="" required>
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-group col-6">
                                <label for="group">Group</label>
                                <select name="group" id="group" class="form-control" required>
				                    <option value="">Semua Group</option>
				                </select>
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-group col-6">
                                <label for="email">Email</label>
                                <input type="email" name="email" th:value="${email}" class="form-control" data-required-error="" required>
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-group col-6">
                                <label for="telp">Telepon</label>
                                <input type="text" name="telp" th:value="${telp}" class="form-control" data-required-error="">
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-group col-6">
                                <input type="hidden" name="id" th:value="${id}">
                                <button type="submit" class="btn btn-success btn-sm" name="simpan">Simpan</button>
                                <a href="/user/" class="btn btn-default ajax btn-sm">Kembali</a>
                            </div>
                    	</form>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
if (typeof($) == 'function'){
    $(document).ready(()=>{
        loadData();
    });
}else{
    document.addEventListener('DOMContentLoaded', ()=>{
        loadData();
    });
}

$("#userForm").validate({
	  rules: {
		  username: {
	      required: true,
	       remote: {
	            url: 'user/checkUserName',
	            data: { userName: $('#username').val()},
	            dataFilter: function(data) {
	                var json = JSON.parse(data);
	                console.log(data);
	            }
	    }
	  },
	  messages: {
		  username: {
	      required: "This field is required",
	      remote: "Email address already in use. Please use other email."
	    }
	  }
	});

function loadData() {
	// code from https://www.thymeleaf.org
	/*<![CDATA[*/
		var idGroup = [[${idGroup}]];
		var nameGroup = [[${nameGroup}]];
	/*]]>*/
	//end code from https://www.thymeleaf.org
	var $OptionStatus = $("<option selected='selected'></option>").val(idGroup).text(nameGroup)

	$('select[name=group]').append($OptionStatus).trigger('change');
    $('select[name=group]').select2({
        "ajax" : {
            "url" : "/user/comboGroup",
            "type" : "POST",
            "dataType" : "json",
            "data": function (params) {
                var query = {
                    search: params.term,
                    type: 'public'
                }
                return query;
            }
        }
    });
}
</script>
