<!-- Filter data -->
<div class="col-md-5" style="margin: 25px 0px;">
	<h5>
		<i class="fa fa-flag"></i> User
	</h5>
</div>
<!-- Filter data -->
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<ol class="breadcrumb breadcrumb-arrow" style="margin-bottom: 1px;">
						<li class="breadcrumb-item">List Data</li>
					</ol>
				</div>
				<a class="btn btn-sm btn-bold btn-primary pull-right ajax" href="/user/add/"><i class="ti-plus"></i> Tambah</a>
			</div>
			<!-- Dian tulung benerin breadcrumbnya -->
			<div class="card-body">
				
				<div th:if="${message}" th:inline="text" th:class="${'alert alert-dismissible fade show ' + alertClass}">
					[[${message}]]
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			
				<div class="row">
					<div class="form-group col-4">
		                <label><i class="ti-filter"></i>Username</label>
		                <input name="filterUsername" id="filterUsername" class="form-control" type="text"  >
		            </div>
		            <div class="form-group col-4">
		                <label><i class="ti-filter"></i>Group User</label>
		                <select name="filterGroup" id="filterGroup" class="form-control">
		                    <option value="">Semua Group</option>
		                    <option th:each="row : ${group}" th:value="${row.idGroup}" th:text="${row.nameGroup}"></option>
		                </select>
		            </div>
				</div>
				<table id="table-data" class="table table-striped table-bordered" cellspacing="0" style="width: 100%;">
					<thead>
						<tr>
							<th width="5%">No</th>
							<th width="43%">Username</th>
							<th width="42%">Group Name</th>
							<th width="10%">Action</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<!--/.main-content -->
<!-- Modal delete -->
<div class="modal" tabindex="-1" role="dialog" id="modal-confirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <p></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger ajax" id="btn-modal-delete" href="">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal delete -->
<!-- Footer -->
<!-- END Footer -->
<script type="text/javascript">
	var tableTrans;
    if (typeof($) == 'function'){
        $(document).ready(()=>{
            loadDatatableTrans();
        });
    }else{
        document.addEventListener('DOMContentLoaded', ()=>{
            loadDatatableTrans();
        });
    }
    
    function loadDatatableTrans() {
    	$('#filterGroup').select2();
    	tableTrans = $("#table-data").DataTable({
    		"processing": true,
            "serverSide": true,
            "searching": false,
            "paging": true,
            "columns":[
            	{ "data": "no", "class" : "text-center", 'sortable' : false },
            	{ "data": "username", "width": "20%", "class" : "text-left", 'sortable' : false },
            	{ "data": "groupName", "class" : "text-left", 'sortable' : false },
            	{ "data": "action", "width": "10%", "class" : "text-center", 'sortable' : false }
            ],
            "order" : [],
            "ajax": {
            	"url" : "/user/getJson",
                "type" : "POST",
                "data" : (d)=> {
                    d.filterUsername = $('input[name=filterUsername]').val();
                    d.filterGroup = $('select[name=filterGroup]').val();
                }
            },
            "fnDrawCallback": function( oSettings ) {
                $('.btn-delete').click((e)=>{
                    e.preventDefault();
                    let $this = $(e.currentTarget);
                    $('#modal-confirm .modal-body p').html($this.data('confirm')).promise()
                    .then(()=>{
                        return $('#modal-confirm .modal-footer #btn-modal-delete').attr('href', $this.data('href'));
                    }).then(()=>{
                        $('#modal-confirm').modal('show');
                    });
                });
            }
    	})
    	
    	$('#filterGroup').on('change', function(){
    		tableTrans.ajax.reload();
    	})
    	
    	$('#filterUsername').keyup(function(){
    		tableTrans.ajax.reload();
    	})
    }
</script>