<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->

      <header class="sidebar-header">
      <a class="logo-icon" href="https://pusiknas.polri.go.id/" target="_blank"><img
          src="/img/cek.png" alt="logo"></a>
      <span class="logo">
        <a href="#"><img src="/img/cek.png" alt="logo"></a>
      </span>
      <span class="sidebar-toggle-fold"></span>
    </header>
    <nav class="sidebar-navigation">
      <ul class="menu">
        <li class="menu-item active">
          <a class="menu-link" href="/">
            <span class="icon fa fa-home" style="color: #fbeae0"></span>
            <span class="title"> Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/karyawan/">
            <span class="icon fa fa-home" style="color: #fbeae0"></span>
            <span class="title"> Dashboard Karyawan</span>
          </a>
        </li>
        <li class="menu-item">
         <a class="menu-link" ajax href="/employee/">
           <span class="icon fa fa-question-circle" style="color: green"></span>
           <span class="title">Karyawan</span>
           <span class="arrow"></span>
         </a>
        </li>
        <li class="menu-item">
         <a class="menu-link" href="#">
           <span class="icon fa fa-question-circle" style="color: green"></span>
           <span class="title">Preferensi</span>
           <span class="arrow"></span>
         </a>
         <ul class="menu-submenu">
           <li class="menu-item">
             <a class="menu-link" ajax href="/user/">
               <span class="dot"></span>
               <span class="title">Pengguna</span>
             </a>
           </li>
           <li class="menu-item">
             <a class="menu-link" href="#" target="_blank">
               <span class="dot"></span>
               <span class="title">Roles</span>
             </a>
           </li>
           </ul>
        </li>
      </ul>
    </nav>
</section>
<!-- /.sidebar -->
